{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
{{block.super}}


<div class="container">
  <div class="row">
      <div class="col-md-3">


      </div>
    <div class="col-md-8" style="text-align: center; ">
        {% for hood in hoods %}

      <br><br>

      <div class="card img-fluid" style="margin-right: 8px">
        <img src="{{hood.pic.url}}" class="card img-fluid" alt="image" style="width:1500px;height:500px">

      </div>
      <h5 class="card-title">{{hood.neighbourhood}}</h5>
      <p><strong>{{hood.name}}</strong></p>
      <p><strong>{{hood.location}}</strong> </p>
      <a href="{% url 'join' neighbourhood_id=hood.id %}" class="btn btn-outline-success">Join neighbourhood</a>
      <p class="card-text" style="font-size:14px;"><small class="text-muted">
      </p>
      {% endfor %}

    </div>
    <div class="col-md-3">
    </div>



  </div>

</div>

{% endblock %}